@import './adds/font';
@import './blocks/header';
@import './blocks/main';
@import './blocks/buttons';
@import './blocks/about';
@import './blocks/services';
@import './blocks/portfolio';
@import './blocks/pricing';
@import './blocks/_team.scss';
@import './blocks/_blog.scss';

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans';
}
